.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30rem;
  height: 20rem;
  z-index: 102;

  &__line {
    display: block;
    width: 100%;
    height: 2rem;
    background-color: $main-color-text;
    transition: transform 0.8s, opacity 0.8s;
  }

  &--active {

    .burger-menu__line {

      &:nth-child(1) {
        transform: rotate(45deg) translate(8rem, 8rem);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(4rem, -5rem);
      }
    }
  }

  @media (min-width: $tablet-above) {
    display: none;
  }

  @media (max-width: $mobile) {
    width: 25rem;
    height: 18rem;

    &--active {

      .burger-menu__line {

        &:nth-child(1) {
          transform: rotate(45deg) translate(7rem, 6rem);
        }

        &:nth-child(3) {
          transform: rotate(-45deg) translate(5rem, -5rem);
        }
      }
    }
  }
}